body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #9CB874
}

.img-header {
    opacity: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    margin-bottom: 3%;
    border-radius: 5px;
    border: 2px solid black;
    transition: 0.8s;
}
img:hover{
    opacity: 100%;
    border: 3px solid #24350C;
}

.title{
    font-size: 40px;
    background-color: #9CB874;
    color: #24350C;
    letter-spacing: 5px;
    padding: 10px 0;
}

.wrapper-header{
    font-family: Century Gothic pro, sans-serif;
    margin: 3% 11% 0;}

.sub-heading{
    padding: 0;
    margin: -20px 0 25px 0;
    letter-spacing: 2px;
    font-size: 18px;
    transition: 0.8s;
}

.sub-heading:hover{
    font-size: 19.5px;
    cursor: default;
}

.wrapper-li{
    font-family: Century Gothic pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 0% 30% 3% 30%;
    display: flex;
    max-width: max-content;
    margin: auto;
    flex-direction: column;
}

.title {
    font-family: Century Gothic pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

ul {
    padding: 0;
    margin: 0
}

.sub-li {
    border-bottom: solid 2px #24350C;
    border-radius: 0px;
    margin: 0;
    background: none;
    box-shadow: none;
    font-size: 20px;
    font-weight: 400;
}

li{
    border-radius: 57px;
    padding: 23px 63px;
    text-transform: uppercase;
    margin: 25px 0 0 0;
    display: inline-flex;
    background-color: #A56538;
    font-weight: 800;
    font-size: 25px;
    color: #53331C;
    letter-spacing: 2px;
    text-decoration: none;
    box-shadow: 6px 6px 10px -5px rgb(0 0 0 / 34%);
    transition: 0.5s;
    width: fit-content;
}

a{
 text-decoration: none;
 color: #53331C;
 transition: 0.8s;
}

a:hover {
    color: #984F1C;
    font-weight: 800;
     cursor: pointer;

}

h4{
    font-size: 35px;
    letter-spacing: 5px;
    font-family: Century Gothic pro, sans-serif;
    text-align: center;
    margin: 0 0 5% 0;

}

h3{
    letter-spacing: 5px;
    font-family: Century Gothic pro, sans-serif;
    text-align: center;
    font-size: 30px;
    margin: 30px 0;
    transition: 0.8s;
}

h3:hover{
    font-size: 32px;
    cursor: default;
}

.wrapper {
    line-height: 20px;
    background-color: #9CB874;
    color: #24350Cff;
    margin: 0 0 0 0;
    padding: 15px 0;
    font-family: Century Gothic pro, sans-serif;
    font-size: 12px;
    letter-spacing: 6px;
}

@media all and ( max-width: 600px) {
    .wrapper-header{
        margin: 3% 9% 0;
    }

    .sub-heading:hover{
        font-size: 18px;
    }

    .wrapper-li{
        padding: 0 5% 5% 5%;

    }

    a:hover{
        color: black;
        font-weight: 400;
    }

    h3:hover{
        font-size: 30px;

    }
    
    .wrapper{
        padding: 20px 8px;
        font-size: 13px;

    }

    .sub-heading{
        margin: 0px 0 25px 0;
    }

    .img-header {    
        border: 4px solid #000000;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        margin-bottom: 3%;
        margin-top: 3%;
        border-radius: 5px;
    }

    .img-header:hover {
        width: 95%;
        border: 4px solid #43133C;

    }

    .img-bottom {    
        border: 4px solid #43133C;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-bottom: 3%;
        margin-top: 3%;
        border-radius: 5px;
    }
    .img-bottom:hover {
        width: 50%;
        border: 4px solid #43133C;

    }


}